*{
    box-sizing: border-box;
}
header{
    width: 100%;
}
.logo{
    padding: 10px;
    margin-top: 5px;
}
.navbar-collapse{
    font-size: 20px;
    padding: 10px;
    background-color: #006b9e;
    
}
.nav-link{
    text-decoration: none;
    color: white;
}
.form-inline{
    float: right;
}
.carousel-inner{
    background-color: #007aff;
    
    width: 100%;
    
}
.carousel{
    width: 100%;
}
.sliding{
    margin: 11px;
}
.desc{
    margin-top: 30px;
    
}
.group-products{
    width: 90%;
}
pre{
    font-family:sans-serif;
}

/* .subscription-form{
    padding: 20px;
   background-color: #006b9e;
    text-align: center;
    display: grid;
    margin-top: 30px;
}
.subscription{
    padding: 20px;
    align-items: center;
    width: 500px;
    /* margin-left: 450px; */
*/
.sign .login{
    width: 100px;
    color: blue;
}
.partner{
    float: right;
}
footer{
    padding: 10px;
    background-color: gray;
    text-align: center;
    margin-top: 5px;
    left: 0;
    bottom: 0;
    width: 100%;
}
.newsletter {
    margin-top: 30px;
    padding: 50px 0;
    background: #007aff;
    }
    
    .newsletter .content {
    max-width: 650px;
    margin: 0 auto;
    text-align: center;
    position: relative; 
} 
    .newsletter .content h5 {
    color: #243c4f;
    margin-bottom: 30px; }
    .newsletter .content .form-control {
    height: 50px;
    border-color: #ffffff;
    border-radius:0;
    }
    .newsletter .content.form-control:focus {
    box-shadow: none;
    border: 2px solid #243c4f;
    }
    .newsletter .content .btn {
    min-height: 50px; 
    border-radius:0;
    background: #243c4f;
    color: #fff;
    font-weight:600;
    }

